<div class="container mt-5">
    <h2>Admin Panel</h2>
    <div class="tab-panel">
        <tabset class="member-tabset">
            <tab heading="User Management" class="pl-2 pr-2" *appHasRole="['Admin']">
                <app-user-management></app-user-management>
            </tab>
            <tab heading="Photo Management" class="pl-2 pr-2" *appHasRole="['Admin', 'Moderator']">
                <app-photo-management></app-photo-management>
            </tab>
        </tabset>
    </div>
</div>